# URL del API Gateway / BFF del backend
# Cambiar por la IP pública o dominio de la instancia AWS
VITE_BFF_URL=http://donaton-alb-1060623249.us-west-2.elb.amazonaws.com
FRONTEND_ORIGIN=http://donaton-frontend-bucket-532149873618.s3-website-us-west-2.amazonaws.com
FRONTEND_ORIGINS=http://donaton-frontend-bucket-532149873618.s3-website-us-west-2.amazonaws.com
AUTH_HOST=172.31.4.255
DONACION_HOST=172.31.4.255
LOGISTICA_HOST=172.31.4.255
NECESIDAD_HOST=172.31.4.255
USUARIOS_HOST=172.31.4.255
MATCHING_HOST=172.31.4.255
NOTIFICACIONES_HOST=172.31.4.255
